:root{
  /* fonts color */
  --primary-bright-blue:#1992d4;
  --primary-bright-orange:#f0b42a;

  --neutral-white:#fff;
  --neutral-black:#090909;

  /* font size */
  --font-large:3.2rem;
  --font-big:2.5rem;
  --font-medi:1.875rem;
  --font-normal:1.3rem;
  --font-small:0.875rem;
}
*,
*::before,
*::after{
  box-sizing: border-box;
}
*{
  padding: 0;
  margin: 0;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
}
a{
  color: inherit;
}
img{
  max-width: 100%;
}
/* .container{
  width: 100%;
  margin-inline: auto;
  padding-inline: 0.5rem;
} */
body{
  color: var(--neutral-black);
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 350px 1fr;

}
/* sidebar */
.sidebar{
  color: var(--neutral-white);
  background-color: var(--primary-bright-blue);
  font-size: var(--font-normal);
  font-weight: 500;
  padding: 1.5rem;

  display: grid;
  grid-template-rows: 100px repeat(2,1fr);
  gap: 30px;
}
.sidebar__logo-container{
  display: flex;
  gap: 1rem;
}
.sidebar__logo-container #logo{
  font-size: var(--font-large);
}
.sidebar__links{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sidebar__link i{
  margin-right: 1.5rem;
}
